<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>

      <li>
        <i class="fa fa-check-square-o"></i> <%= link_to task.title,  task_path(task.id)%>
        | <%= link_to task_destroy_path(task), method: :delete do  %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </li>
    <% else %>
      <li>
        <i class="fa fa-square-o"></i> <%= link_to task.title,  task_path(task.id)%>
        | <%= link_to task_destroy_path(task), method: :delete do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </li>

    <% end %>
  <% end %>
</ul>

<p>
  <%= link_to "Create a new task", tasks_new_path %>
</p>

